.product-comment .media {
    background: #f5f5f5;
    border-color: #eaeaea;

    min-height: 20px;
    padding-top: 19px;
    border: 1px solid #e3e3e3;

}

.product-comment .media.Pending {
    background: #fff3d4;

}

.product-comment .media .media-left img {
    width: 100%;
    height: auto;
    max-width: 66px;
}

.product-infos {
    font-size: 14px;
    list-style-type: none;
    margin: 0px 0 20px 5px;
    overflow: hidden;
}

.product-infos .comment {
    float: left;
    margin-right: 5px;
}

.subtitle {
    border-bottom: 1px grey solid;
}

.table-grid {
    width: 100%;
    overflow-x: auto;
}

@media (min-width: 768px) {
    .dataTables_filter {
        float: right;
    }
}