{% extends 'base.html.twig' %}

{% block heading %}500 Error Page{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item active">500 Error Page</li>
    </ol>
{% endblock %}


{% block main_content %}
    <div class="error-page">
        <h2 class="headline text-red">500</h2>

        <div class="error-content">
            <br/>
            <h3><i class="fa fa-warning text-red"></i>  Oops! Something went wrong.</h3>

            <p>
                We will work on fixing that right away.
            </p>

        </div>
    </div>
{% endblock %}
