{% extends 'base.html.twig' %}

{% block heading %}Unauthorized Access{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item active">Unauthorized Access</li>
    </ol>
{% endblock %}


{% block main_content %}
    <div class="error-page">
        <h2 class="headline text-red">403</h2>

        <div class="error-content">
             <br/>
            <h3><i class="fa fa-warning text-red"></i> Unauthorized Access.</h3>

            <p>
                Sorry, You are not authorized to access this page.
            </p>

        </div>
    </div>
{% endblock %}
