{% extends 'base.html.twig' %}

{% block heading %}Resource Not Found{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item active">Resource Not Found</li>
    </ol>
{% endblock %}


{% block main_content %}
    <div class="error-page">
        <h2 class="headline text-red">404</h2>

        <div class="error-content">
             <br/>
            <h3>Page Not Found</h3>

            <p>
                Sorry, The Page you are trying to access is not available.
            </p>

        </div>
    </div>
{% endblock %}
