{% extends 'base.html.twig' %}

{% block heading %}<i class="fas fa-cubes"> </i>  New Product {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">HomProduct Cataloge</a></li>
        <li class="breadcrumb-item"><a href="{{ path("product") }}">Product List</a></li>
        <li class="breadcrumb-item active">New Product</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    {% block cardtitle %}New Product{% endblock cardtitle %}
                </div>
                <div class="card-body">
                    {{ include('product/_form.html.twig') }}
                </div>
                <div class="card-footer text-muted">{% block cardfooter %}{% endblock %}</div>
            </div>
        </div>
    </div>



{% endblock %}
