<table id="example" class="table data-table product-comment-table table-striped table-bordered"
       style="width:100%">
    <thead>
    <tr>
        <th>Index</th>
        <th>Comment</th>
        <th>Status</th>
        <th>CreateAt</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for child in comments %}
        <tr class="{{ child.CommentStatus }}">
            <td> {{ loop.index }}</td>
            <td>
                {{ child.Comment }}
            </td>
            <td>

                <div class="btn-group statusUpdate" data-toggle="buttons">
                    {% if child.CommentStatus =="Pending" %}
                        <label class="btn btn-group-xs btn-warning active status-p"
                               onclick="changeCommentStatus(this,{{ child.id }}, '{{ child.CommentStatus }}')"
                               data-toggle="tooltip" title="Pending" data-wat='1'>
                            <span class="fas fa-exclamation"></span>
                        </label>
                    {% endif %}
                    {% if child.CommentStatus !="Rejected" %}
                        <label class="btn status-a  {{ child.CommentStatus =="Approved"?" btn-info active":"btn-secondary" }}"
                               onclick="changeCommentStatus(this,{{ child.id }}, 'Approved')" data-wat='2'
                               data-toggle="tooltip" title="Approve">
                            <span class="fas fa-check"></span>
                        </label>
                    {% endif %}
                    {% if child.CommentStatus !="Approved" %}
                        <label class="btn status-r {{ child.CommentStatus =="Rejected"?" btn-danger active":"btn-secondary" }}"
                               onclick="changeCommentStatus(this,{{ child.id }}, 'Rejected')" data-wat='3'
                               data-toggle="tooltip" title="Reject">
                            <span class="fas fa-ban"></span>
                        </label>
                    {% endif %}
                    <label class="btn status-d {{ child.CommentStatus =="Deleted"?" btn-dark active":"btn-secondary" }}"
                           onclick="changeCommentStatus(this,{{ child.id }}, 'Deleted')" data-wat='4'
                           data-toggle="tooltip" title="Delete">
                        <span class="fa fa-trash"></span>
                    </label>
                </div>
            </td>
            <td>{{ child.createdAt ? child.createdAt|date('m/d/Y H:i') : '' }}</td>
            <td>
                {{ child.AuthorUserId.firstName }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>