{% extends 'base.html.twig' %}

{% block heading %}<i class="fas fa-cubes"> </i> {{ product.name }} {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item"><a href="{{ path("product") }}">Product List</a></li>
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        <!-- Default Card Example -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                {% block cardtitle %}{{ product.name }}{% endblock cardtitle %}
            </div>
            <div class="card-body">
                {{ product.description|raw }}
            </div>
            <div class="card-footer">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{ product.createdAt|date("m/d/Y") }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!-- Default Card Example -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                <i class="fas fa-comments"></i> Comments ({{ comments|length }})
                <div class="card-body">
                    {% for comment in comments|sort|reverse %}
                        <div class="list-group mb-4">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5>{{ comment.comment | nl2br }}</h5>
                        {% if  comment.commentStatus =="Pending" %}
                        <small>Pending for approval.</small>
                        {% elseif comment.commentStatus =="Rejected" %}
                            <small>This comment is Rejected.</small>
                        {% elseif comment.commentStatus =="Deleted" %}
                            <small>This comment is Deleted.</small>
                            {% endif %}

                            </div>
                            <hr/>
                            <small><i class="fas fa-user"></i> {{ comment.authorUserId.firstName }} | <i
                                        class="fas fa-calendar"></i> {{ comment.createdAt|date("m/d/Y") }}</small>
                            </div>
                            </div>
                        {% else %}
                            No comment found!
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="columns">
                        <div class="column">
                            {% if is_granted('ROLE_ADMIN') != true %}
                                {% include 'produt_comment/_comment_form.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
