{% extends ['base.html.twig'] %}

{% block heading %}<i class="fas fa-cubes"> </i>  Edit Product {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item"><a href="{{ path("product") }}">Product List</a></li>
        <li class="breadcrumb-item active">Edit Product</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    {% block cardtitle %} <i class="fas fa-edit"> </i> Edit Product{% endblock cardtitle %}
                </div>
                <div class="card-body">
                    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <i class="fas fa-comments"> </i> Product Comments
                </div>
                <div class="card-body">
                    {{ include('product/comment_list.html.twig', {'comments':product.productComments}) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}