{% extends 'base.html.twig' %}

{% block heading %}<i class="fas fa-cubes"> </i>  Product List{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item active">Product List</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">

            <!-- Default Card Example -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">{% block cardtitle %}<i
                                class="fas fa-cubes"> </i> Product List{% endblock cardtitle %}</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between align-content-center w-100">


                    </div>
                    <div class="w-100 table-responsive">
                        <table class="table data-table table-hover table-bordered table-striped" role="grid">
                            <thead>
                            <tr>
                                <th>Index</th>
                                <th>Product Name</th>
                                {% if is_granted('ROLE_ADMIN') %}
{#                                    <th>Description</th>#}
                                    <th>CreatedAt</th>
                                    <th>Enabled</th>
                                    <th>Pending Comments</th>
                                {% endif %}
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td> {{ loop.index }}</td>
                                    <td>
                                        {{ product.name|slice(0, 20) ~ (product.name|length>20?'...':'') }}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
{#                                        <td>{{ product.description|striptags|slice(0, 35) ~ (product.description|length>35?'...':'') }}</td>#}
                                        <td>{{ product.createdAt ? product.createdAt|date('m/d/Y H:i') : '' }}</td>
                                        <td>{{ product.enabled ? 'Yes' : 'No' }}</td>
                                        <td>
                                            {% if  product.getPendingComments()|length > 0 %}
                                                <a href="{{ path('product_pending_comment', {'id': product.id}) }}">{{ product.getPendingComments()|length }}</a>
                                            {% else %}
                                                {{ product.getPendingComments()|length }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('product_detail', {'id': product.id}) }}"><i
                                                        class="fas fa-eye"> </i></a>
                                            <a href="{{ path('product_edit', {'id': product.id}) }}"><i
                                                        class="fas fa-edit"> </i></a>
                                            <a href="#" onclick="deleteProduct({{  product.id }})" aaa="{{ path('product_delete', {'id': product.id}) }}"><i
                                                        class="fas fa-trash"> </i></a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path('product_detail', {'id': product.id}) }}"><i
                                                        class="fas fa-eye"> </i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}