{% extends ['base.html.twig'] %}

{% block title %}Manage Pending Comments{% endblock %}

{% block heading %}<i class="fas fa-cubes"> </i>  Pending Comment List{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
        <li class="breadcrumb-item"><a href="{{ path("product") }}">Product List</a></li>
        <li class="breadcrumb-item active">Pending Comments</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card card-primary card-outline mb-4">
                <div class="card-header">
                    <i class="fas fa-comments" aria-hidden="true"> </i>
                    {% block cardtitle %}Manage Pending Comments{% endblock cardtitle %}
                </div>
                <div class="card-body">
                    {{ include('product/comment_list.html.twig', {'comments':comments}) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}