<form name="comment_new" action="{{ path('comment_new', {'id': product.id}) }}" method="post">
{#<section class="media">#}

{#    <div class="media-content col-md-12">#}

{#        <div class="form-group">#}
{#            <label for="comment">Comment:</label>#}
{#            <textarea required="required" class="form-control" rows="5" id="comment" name="comment"></textarea>#}
    <section class="media">
        <div class="media-content col-md-12">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" required="required" rows="5" id="comment" name="comment"></textarea>
            </div>
            <div class="field">
                <p class="control">
                    <button type="submit" class="btn button btn-primary">Post Comment</button>
                </p>
            </div>
        </div>
    </section>
</form>