<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Product Catalog{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/adminlte.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/custom-style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}"/>

    {% endblock %}
</head>

{% block body %}
<body class="sidebar-mini layout-fixed" style="height: auto;" cz-shortcut-listen="true">
    <div class="wrapper">
        {% block header %}
            {{ include('ui-components/header.html.twig') }}
        {% endblock %}

        {% block left_panel %}
            {{ include('ui-components/left_panel.html.twig') }}
        {% endblock %}

        <div class="content-wrapper" style="min-height: 35px;">
            <!-- Content Heade  r (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">{% block heading %}Dashboard{% endblock %}</h1>
                        </div>
                        <div class="col-sm-6">
                            {% block breadcrumb %}
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{{ path("index") }}">Product Catalog</a></li>
                                    <li class="breadcrumb-item active">Dashboard v1</li>
                                </ol>
                            {% endblock %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    {% block main_content %}{% endblock %}
                </div>
            </section>
            <!-- /.content -->
        </div>

        {% block footer %}
            {{ include('ui-components/footer.html.twig') }}
        {% endblock %}
        {% block javascripts %}
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>
            <script src='https://code.jquery.com/jquery-3.3.1.js'></script>
            <script src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
            <script src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js'></script>
            <script src='{{ asset('js/adminlte.min.js') }}'></script>
            <script src="{{ asset('js/sweetalert.min.js') }}"></script>
            <script src='{{ asset('js/common.js') }}'></script>
        {% endblock %}
    </div>
</body>
{% endblock %}
</html>